<input id="menu-switch" type="checkbox" />
    <nav id="menu" role="navigation">
        <div class="brand">&Aopf;</div>            
        <ul>
            <li><a href="#">Item 1</a></li>
            <li><a href="#">Item 2</a></li>
            <li><a href="#">Item 3</a></li>
        </ul>
    </nav>
    <div class="page-wrap">
        <label for="menu-switch" id="menu-toggle"></label>
   </div>